.flexings {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 700px) {
    .flexings {
        flex-direction: column;
    }
    .responsif-nv-pelanggaran {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 2rem;
    }

    .responsif-nv-pelanggaran > div {
        margin: 0 auto;
    }

    .heading-nv-responsif {
        padding: 0px 20%;
    }
}

.shadow-nv-pelanggaran {
    box-shadow: 2px 2px white;
}

.input:focus {
    border-color: green; /* Mengubah warna border menjadi hijau saat input memiliki fokus */
    outline: none; /* Menghapus outline default saat input memiliki fokus */
}
